body {
	text-align: center;
	background-color: #8EE4AF;
}

h1 {
	background-color: #05386B;
	color: #EDF5E1;
	padding: 20px;
}
h1 a, h1 a:hover, h1 a:visited{
	background-color: #05386B;
	color: #EDF5E1;
	padding: 20px;
	text-decoration:none
}

.table {
	background-color: #05386B;
	color: #EDF5E1;
	border: thin black solid;
	margin-top: 20px;
}

td a, th a, td a:visited, th a:visited {
	color: #EDF5E1
}

td a:hover, th a:hover {
	color: #8EE4AF
}

#greenButton {
	background-color: #379683
}

.label-text-align {
	float: right;
}
.input-text-align {
	float: left;
}

#snakeForm{
    color: #05386b;
}

#snakeForm input, #snakeForm select{
	min-width: 90%;
	line-height: 0;
}
#snakeForm .date {
	line-height: 1 !important;
}

.result{
	color:red
}