body {
	text-align: center;
	background-color: #8EE4AF;
}

h1 {
	background-color: #05386B;
	color: #EDF5E1;
	padding: 20px;
}

.table {
	background-color: #05386B;
	color: #EDF5E1;
	border: thin black solid;
	margin-top: 30px;
}

td a, th a, td a:visited, th a:visited {
	color: #EDF5E1
}

td a:hover, th a:hover {
	color: #8EE4AF
}

#greenButton {
	background-color: #379683
}

.label-text-align {
	float: right;
}
.input-text-align {
	float: left;
}

form textarea{
	height:150px;
}

.result{
	color:red
}